* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #5aed72;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
