* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #5aed72;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: minmax(100px, 700px);
  background: #8fff85;
}

#add-book {
  padding: 10px;
  background: #000;
  margin: 20px;
  border-radius: 10px;
}

.add {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
}
.closebtn {
  margin-left: 10px;
  font-size: 30px;
  margin-top: 10px;
  color: white;
  float: right;
  font-weight: bold;
  cursor: pointer;
  line-height: 20px;
  transition: 0.3s;
  border-radius: 10px;
  background: #1f1499;
}

#book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#read {
    border: 1px solid ;
    padding" 10px;
    margin: 10px
}
#submit {
  background:50CF30;
   


}

